<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark">
          <div class="card-body">
            <h2 class="card-title text-center text-white">{{ title }}</h2>
            <ul class="text-center list-inline">
              <li class="list-inline-item"><a routerLink="/resthttp" class="btn btn-info">resthttp</a></li>
              <li class="list-inline-item"><a routerLink="/first" class="btn btn-info">first form</a></li>
            
            </ul>
          </div>  
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>